@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

#LandingPage {
    min-height: 1500px;
    width: 100%;

    .greatings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 95vh;
        width: 100%;
        background: url("../../../assets/img/landing/background2.png") no-repeat;
        padding-top: 100px;
        color: #fff;
        margin-bottom: 200px;
        padding-bottom: 200px;
        font-family: Raleway;


        h2 {
            font-size: 42px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 74px;
        }

        span {
            display: block;
            height: 3px;
            width: 40px;
            background-color: #fff;
            margin-top: 5px;
        }

        p {
            margin-top: 80px;
            font-size: 32px;
            width: 570px;
        }
    }

    #Search {
        position: absolute;
        top: 100vh;
    }
}