#Reservations {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #Search {
        border-top: solid #000;
    }

    .roomsList__container {
        margin-top: 40px;
    }

    .roomsCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;

        .roomFotos {
            width: 300px;
            margin-right: 80px;
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            width: 490px;
            margin-right: 80px;

            h2 {
                font-size: 32px;
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 10px;
            }
        }

    }

    .icons img {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .bookingArea {
        h3 {
            font-size: 24px;
            margin-bottom: 16px;

            p {
                font-size: 32px;
            }
        }

        .roomsLeft {
            margin-top: 16px;
        }
    }

    .bookingArea button {
        width: 120px;
        height: 35px;
        color: #fff;
        background-color: #DEC328;
    }

}