.search {
    width: 1200px;
    height: 130px;
    background-color: #594731;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: solid #000;
}

.inputWrap {
    position: relative;
}

.inputWrap .checkIn {
    width: 260px;
    height: 50px;
}

.inputWrap .checkOut {
    width: 260px;
    height: 50px;
}

.inputWrap .person {
    width: 90px;
    height: 50px;
}

.inputWrap label {
    text-align: start;
}

.calendarWrap {
    position: absolute;
    top: 67px;
    left: -10px;
    background-color: #594731;
    border: solid 1px #000;
    width: 256px;
    padding: 5px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transform: 0.3s;
}

.calendarWrap.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}