.Contacts {
    display: flex;
    flex-direction: row;
    margin-top: 40px;

    .data {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 40px 80px;

        h2 {
            font-size: 24px;
            margin-bottom: 16px;
        }

        p {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 32px;
        }
    }

    img {
        border: solid 0.5px;
    }
}