.About {
    display: flex;
    flex-direction: column;
    margin: 0 80px;
    
    .block {
        display: flex;
        flex-direction: row;
        text-align: start;
        margin-top: 40px;
    }

    .text1 h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    
    .block p {
        margin: 0 80px;
    }
}