a {
  text-decoration: none;
}

.App {
  text-align: center;
}

header {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #594731;
  font-size: 24px;
}

nav {
  margin-left: 295px;
  padding-bottom: 10px;
}

nav a {
  color: #fff;
  padding: 4px 28px 8px;
  border-radius: 50%;
  -webkit-transition:
    width 1s,
    height 1s,
    background-color 1s,
    -webkit-transform 1s;
  transition:
    width 1s,
    height 1s,
    background-color 1s,
    transform 1s;
}

nav a:hover {
  background: #ffffff32;
}

nav a.active {
  background: #ffffff63;
  color: white;
} 

#logo {
  height: 100px;
  top: 5px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  width: 162px;
  padding: 5px;
}

#logo.active {
  background: #ffffff00;
}

#logoWrap {
  border-radius: 50%;
  width: auto;
  height: 100%;
  overflow: hidden;
}

#logoWrap img {
  width: 100%;
  height: 100%;
}

.barAndBtn {
  margin-right: 80px;
  padding-bottom: 10px;
}

.lenguageBar {
  margin: 10px;
  color: #fff;
  background-color: #594731;
  border: solid #fff;
  font-size: 24px;
}

.bookBtn {
  width: 132px;
  height: 49;
  color: #fff;
  background-color: #594731;
  border: solid #fff;
  font-size: 24px;
}

#app-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  background-color: #594731;
  height: 200px;
  margin-top: 40px;
}


/* ------------------------------------------------------------------------------------- */

footer .overlap-group-2 {
  background-color: #5a4833;
  height: 200px;
  position: relative;
}

footer .footer-line {
  background-color: #ffffff;
  height: 3px;
  left: 81px;
  position: absolute;
  top: 56px;
  width: 33px;
}

footer .footer-line-2 {
  background-color: #ffffff;
  height: 3px;
  left: 624px;
  position: absolute;
  top: 56px;
  width: 33px;
}

footer .footer-line-3 {
  background-color: #ffffff;
  height: 3px;
  left: 1167px;
  position: absolute;
  top: 56px;
  width: 33px;
}

footer .text-wrapper-40 {
  color: #ffffff;
  font-family: "Raleway", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1167px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

footer .text-wrapper-41 {
  color: #ffffff;
  font-family: "Raleway", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 624px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 69px;
  white-space: nowrap;
}

footer .FB-logo {
  height: 27px;
  left: 624px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 27px;
}

footer .inst-logo {
  height: 27px;
  left: 666px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 27px;
}

footer .contact-us-on {
  color: #ffffff;
  font-family: "Raleway", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 55px;
  width: 242px;
  text-align: start;
}

footer .text-wrapper-42 {
  color: #ffffff;
  font-family: "Raleway", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 125px;
  white-space: nowrap;
}