#Calendar {
    border: solid 1px #000;
    width: 100%;

    header {
        display: flex;
        justify-content: space-between;
        height: auto;
        background-color: #5E5E5E;
        color: #fff;
        border-bottom: solid 1px #000;
    }

    button {
        background-color: #5E5E5E;
        color: #fff;
    }

    table {
        table-layout: fixed;
        /* border-collapse: separate; */
        border-spacing: 0;
        margin: auto;
    }

    th {
        vertical-align: middle;
        text-align: center;
        height: 36px;
    }

    .week {
        border: solid 1px #000;
    }

    .day {
        padding: 4px 8px;
        /* margin: 10px; */
        vertical-align: middle;
        text-align: center;
        border: 2px solid transparent;
    }

    .day:hover {
        background-color: #aeaeae;
        cursor: pointer;
    }

    .day.selected {
        /* border: 2px solid dodgerblue; */
        background-color: #8F7B35;
    }

    /* 
#Calendar .day.secondSelected {
    border: 2px solid rgb(235, 255, 56);
} */

    .day.today {
        background-color: dodgerblue;
        color: #fff;
    }

    .day.today:hover {
        background-color: #0081ff;
    }

    .day.today.selected {
        border: 2px solid lightgray;
    }

    .day.between {
        /* border: 2px solid rgb(255, 219, 121); */
        background-color: #FFF3CA;
        border-color: #fff;
    }

    .day.today.between {
        background-color: dodgerblue;
        border-color: #FFF3CA;
        color: #fff;
    }

}